name: Ubuntu 22.04 (clang)

on:
  push:
    branches:
      - main
      - master
      - coro_http_server
  pull_request:
    branches:
      - main
      - master
      - coro_http_server

jobs:
  build_by_clang:
    strategy:
      matrix:
        mode: [Debug, Release]
        libcxx: [OFF]
        ssl: [ON, OFF]
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get install openssl
          sudo apt-get install libssl-dev
          sudo export ASAN_OPTIONS=alloc_dealloc_mismatch=0

      - name: Configure CMake
        run: CXX=clang++ CC=clang cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.mode}} -DCINATRA_ENABLE_SSL=${{matrix.ssl}} -DBUILD_WITH_LIBCXX=${{matrix.libcxx}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{matrix.mode}} -j `nproc` -V

  ubuntu_clang_for_liburing:
    strategy:
      matrix:
        mode: [ Release, Debug ]
        libcxx: [ OFF ]
        io_uring: [ ON ]
        case_name: [ test_corofile ]

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install liburing
        run: |      
          wget https://github.com/axboe/liburing/archive/refs/tags/liburing-2.3.tar.gz
          tar -zxvf liburing-2.3.tar.gz
          cd liburing-liburing-2.3/
          ./configure --cc=clang --cxx=clang++
          make
          sudo make install

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode}}-ssl( ${{ matrix.ssl}} )-libcxx( ${{ matrix.libcxx}} )

      - name: Configure
        run: |
          CXX=clang++ CC=clang 
          cmake -B ${{github.workspace}}/build -G Ninja \
                -DCMAKE_BUILD_TYPE=${{matrix.mode}} \
                -DBUILD_WITH_LIBCXX=${{matrix.libcxx}} \
                -DENABLE_FILE_IO_URING=${{matrix.io_uring}} \
                -DUSE_CCACHE=${{env.ccache}}
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}} --target ${{matrix.case_name}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{matrix.mode}} -R ${{matrix.case_name}} -j 1 `nproc` -V
